.pio
.pioenvs
.vscode/.BROWSE.*

# ignore GNU global files
GPATH
GRTAGS
GSYMS
GTAGS

# ignore build artifacts
*.d
*.o
*.bin
*.hex
*.elf
*.axf
*.map
*.uf2
*.old

# ignore local makefile settings
src/local.mk
.vscode/c_cpp_properties.json
.vscode/launch.json
